.chapter-content{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-width:2px;
    border-style:hidden;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-right: 20px;

    background:-webkit-linear-gradient(0deg, rgb(239, 239, 239) 0%, rgb(255, 255, 255) 80%);
    background:-o-linear-gradient(0deg, rgb(239, 239, 239) 0%, rgb(255, 255, 255) 80%);
    background:-moz-linear-gradient(0deg, rgb(239, 239, 239) 0%, rgb(255, 255, 255) 80%);
    background:linear-gradient(0deg, rgb(239, 239, 239) 0%, rgb(255, 255, 255) 80%);

}