.newstory-card{
    background-color: transparent ;
    box-shadow: none !important;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px !important;
}
#new-shared-story{
    background-color: rgba(185, 220, 235, 1);
    color: #ffffff !important;
}
#new-shared-story-label{
    color: #ffffff !important;
}
.newstory-button-card{
    cursor:pointer;
    text-align: center;
    border-radius: 5px !important;
}

.newstory-button-content{
    color: #808080;
    font-style: italic;
    font-size: 11px;
    max-width: 200px;
    text-align: center;
    margin: auto !important;
}

  /*Small devices (landscape phones, 576px and up)*/
  @media (max-width: 767px) {
    .newstory-card{
        margin-left: 20px;
        margin-right: 20px;
    }
    .newstory-button-card{
        margin-bottom: 20px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}

