.search-form {
    width: 100%;
  }
  
  .search-input {
    width: 100%;
  }



  .advanced-search{
    margin-left: 18px;
  }

  .search-label{
    color: rgba(117, 117, 117, 255);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    line-height: 1.125;
    font-size:11px;    
    display: block;
  }

  .search-col{
    padding-left: 15px;
    padding-right: 30px;
  }

  #language-a2-select{
    width: 100%;
  }
  
  #kind-select{
    width: 100%;
  }

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
  .search-button-col{
    text-align: center;
  }
}

@media (min-width: 768px) {
.search-button{
  position: relative;
  right: 10px;
}
}