<div class="container">
  <div class="row">
    <div class="row">
      <div class="col col-lg-2">
      </div>
      <div class="col-mat-auto">

        <mat-card class="material-card newchapter-card">
            <mat-card-title *ngIf="!chapter.title">Edit chapter</mat-card-title>
            <mat-card-title *ngIf="chapter.title">{{chapter.title}}</mat-card-title>
          <mat-card-content>
            <form class="edit-story-form">

              <!--Title-->
              <mat-form-field class="edit-chapter-input">
                <input matInput placeholder="Title" [(ngModel)]="chapter.title" name="title" value="chapter.title" (ngModelChange)="formNotify($event)">
              </mat-form-field>
            </form>

            <ng2wig [content]="chapter.content" (contentChange)="textEditorChange($event)"></ng2wig>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" type = "button" (click)="backClicked()">Back</button>
            <button mat-button *ngIf="!doneDisabled" color="primary" type = "button" (click)="editChapter()">Done</button>
            <button mat-button *ngIf="doneDisabled" color="primary" disabled type = "button" (click)="editChapter()">Done</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col col-lg-2">

      </div>
    </div>
  </div>