.img-story{
    width: 25px;
    height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    object-fit: cover;
}
.image-container{
    width: auto;
    display: inline-block;
}
.vote{
    display: inline-block;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
}
.story-item-container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px !important;
    margin-bottom: 10px;
    cursor:pointer;
}
.story-item-container:hover{
    background-color: #F5F5F5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.story-description{
    font-style: italic;
    color: #939393;
    padding-right: 60px;
}

.story-type{
    display: inline;
    vertical-align: middle;
}

.fa-private{
    float: right;
    color: #939393;
    vertical-align: middle;
    padding-right: 10px;
}

.fa-shared{
    float: right;
    color: #07bb2e;
    vertical-align: middle;
    padding-right: 10px;
}

.story-info-container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

b{
    display: inline;
    vertical-align: middle;
}

p{
    display: inline;
    color: #808080;
    vertical-align: middle;
}

.row-light{
    padding-left: 10px;
    padding-right: 10px;
}

    /*Small devices (landscape phones, 576px and up)*/
    @media (max-width: 767px) {
        .image-col, .image-container{
            display: none;
        }
    }
    
    /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
        .image-col, .image-container{
            display: none;
        }
    }
    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        .image-col, .image-container{
            display: inline;
        }
    }
    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
        .image-col, .image-container{
            display: inline;
        }
    }

