ul{
    list-style-type: none;
    margin-left: -50px;
}
.chapter-item-container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 10px;
    cursor:pointer;
}
.chapter-item-container:hover{
    background-color: #F5F5F5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fa-custom-add{   
    color: rgba(59, 122, 149, 0.7) !important;
    
}

.plus-container{
    text-align: center;
}

.chapter-plus-container{
    padding-top: 10px;
    padding-bottom: 10px;
}